body {
    background-color: #202020;
}

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}

.star-wars {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 300px;
    transform: translate(-50%, 0);
}

.star-wars-text {
    color: #f8fc08;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    transform: rotateX(30deg) translate(0px, 1070px) scale(3, 3);
    animation: flight-text 30s linear;
    Animation-iteration-count: infinite;
}

.center {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

@keyframes flight-text {
    from {
        transform: rotateX(30deg) translate(0px, 1070px) scale(3, 3);
    }
    to {
        transform: rotateX(30deg) translate(0px, -1550px) scale(3, 3);
    }
}